<div class="uo-docs-header" fxLayoutAlign="space-between center" fxFlex.gt-sm="900px">
    <div>My Proyecto Final > Documentacion</div>
    <div class="uo-docs-header-rightside" fxFlex.gt-xs="250px">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <span class="span-button" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Watch</span>
            <span class="span-badge">11</span>
            </span>
            <span class="span-button" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <mat-icon>star</mat-icon>
              <span>Star</span>
            <span class="span-badge">5</span>
            </span>
        </div>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>
</div>