<div class="uo-docs-header" fxLayoutAlign="space-between center" fxFlex.gt-sm="900px">
    <div>My Proyecto Final > Documentacion</div>
    <div fxFlex.gt-xs="250px">
        <div class="uo-docs-header-rightside" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <span fxLayout="row" fxLayoutGap="5px">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Watch</span>
            <mat-chip-list>
                <mat-chip>11</mat-chip>
            </mat-chip-list>
            </span>
            <span fxLayout="row" fxLayoutGap="5px">
              <mat-icon>star</mat-icon>
              <span>Star</span>
            <mat-chip-list>
                <mat-chip>5</mat-chip>
            </mat-chip-list>
            </span>
        </div>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>
</div>