<mat-card fxFlex.lt-sm="100%">
    <div fxLayout="row" fxLayoutAlign="start center">
        <div mat-card-avatar class="uo-card-avatar"></div>
        <div class="uo-card-content">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
        </div>
        <div fxLayoutAlign="end center" style="width: 30%;">
            <span class="span-button" fxLayoutAlign="center center">Approved</span>
            <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
        </div>
    </div>
    <mat-card-content>
        <p>
            {{ cardDescription.substr(0, 20) }} ... see more
        </p>
    </mat-card-content>
</mat-card>