<div class="uo-project-welcome-message-container" fxLayout="column" fxLayoutAlign="center center">
    <p class="uo-project-welcome-message-primary">{{ selectedProject?.name }}</p>
    <p class="uo-project-welcome-message-secondary">members</p>
    <button mat-stroked-button color="accent" (click)="onShareProject()">Share Project <mat-icon>share</mat-icon></button>
</div>
<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
        <mat-header-cell fxFlex="80px" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell fxFlex="80px" *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
        <mat-header-cell fxFlex="50%" *matHeaderCellDef mat-sort-header>Full Name</mat-header-cell>
        <mat-cell fxFlex="50%" *matCellDef="let element">{{ element.name }} {{ element.lastName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role(s)</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.userRoles | roleFormat }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let element">
            <button (click)="onRemoveSharing()" mat-icon-button><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>