<div fxLayoutAlign="center start" class="uo-project-welcome-message-container">
    <div *ngIf="projectsList.length == 0" fxLayout="column" fxLayoutAlign="center center">
        <p class="uo-project-welcome-message-secondary">welcome to</p>
        <p class="uo-project-welcome-message-primary">{{ projectName }}</p>
        <p class="uo-project-welcome-message-secondary">There is no any project, create the first one.</p>

        <button mat-stroked-button color="accent" (click)="onCreate()">Create Project</button>
    </div>
    <div *ngIf="projectsList.length > 0" class="uo-project-welcome-cards">
        <app-uo-info-card [isChangesInformation]="false" [projectCardInfo]="project" *ngFor="let project of projectsList"></app-uo-info-card>
        <button mat-fab color="accent" (click)="onCreate()" style="float: right; margin-top: 20px" matTooltip="Create a new Project">
            <mat-icon>create</mat-icon>
        </button>
    </div>
</div>