<mat-nav-list>
    <a *ngIf="isAuth" mat-list-item routerLink="/sprint" (click)="onClose()" [ngClass]="{'uo-menu-nav-disabled': selectedProject === 0}">
        <mat-icon>directions_boat</mat-icon>
        <span class="nav-caption">Active Sprint</span>
    </a>
    <a *ngIf="isAuth" mat-list-item routerLink="/sprint" (click)="onClose()" [ngClass]="{'uo-menu-nav-disabled': selectedProject === 0}">
        <mat-icon>library_books</mat-icon>
        <span class="nav-caption">Sprints</span>
    </a>
    <a *ngIf="isAuth" mat-list-item (click)="onClose()" [ngClass]="{'uo-menu-nav-disabled': selectedProject === 0}">
        <mat-icon>bug_report</mat-icon>
        <span class="nav-caption">Issues</span>
    </a>
    <a *ngIf="isAuth" mat-list-item [routerLink]="['/project', selectedProject, 'document']" (click)="onClose()" [ngClass]="{'uo-menu-nav-disabled': selectedProject === 0}">
        <mat-icon>assignment</mat-icon>
        <span class="nav-caption">Documents</span>
    </a>
    <a *ngIf="isAuth" mat-list-item (click)="onClose()" [ngClass]="{'uo-menu-nav-disabled': selectedProject === 0}">
        <mat-icon>supervisor_account</mat-icon>
        <span class="nav-caption">Participants</span>
    </a>
</mat-nav-list>