<mat-card fxFlex.lt-sm="100%">
    <div fxLayout="row">
        <div mat-card-avatar class="uo-card-avatar"></div>
        <div style="width: 80%; margin-left: 15px">hello description</div>
        <div fxLayoutAlign="end center" style="width: 20%">hello buttons</div>
    </div>
    <mat-card-actions fxLayoutAlign="end" fxLayoutGap="0px">
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>