<mat-card fxFlex.lt-sm="100%" fxFlex="600px">
    <div fxLayout="row">
        <!-- <div mat-card-avatar class="uo-card-avatar"></div> -->
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <div class="uo-card-content">
            <mat-card-header>
                <mat-card-title (click)="onProjectSelect()">{{ projectCardInfo.name }}</mat-card-title>
                <mat-card-subtitle>Created at {{ projectCardInfo.createdAt | date }} by Franco Arratia</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    <!-- {{ projectCardInfo.backlog.description }} -->
                    {{ projectCardInfo.backlog.description }} ... see more
                </p>
            </mat-card-content>
        </div>
        <div *ngIf="isChangesInformation" fxLayoutAlign="end center" style="width: 30%">
            <span class="span-button" fxLayoutAlign="center center">Verified</span>
            <span class="span-checkbox" fxLayoutAlign="center center">
              <mat-icon aria-label="Example icon-button with a heart icon">chevron_left</mat-icon>
              <mat-checkbox class="mat-checkbox-inner-container" color="primary" [checked]="projectCardInfo.isRoot" [disabled]="projectCardInfo.isRoot" (click)="onSelectVersion($event)"></mat-checkbox>
          </span>
        </div>
    </div>
    <mat-card-actions *ngIf="!isChangesInformation" fxLayoutAlign="end" fxLayoutGap="0px">
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
      </button>
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">star_half</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>