<div class="uo-projects-header-container">
    <div fxLayout="row" fxLayoutAlign="start end">
        <p class="uo-projects-header-title">{{ projectName }}</p>
        <p class="uo-projects-header-note">UNRELEASED</p>
    </div>
    <div fxLayout="row" style="padding-bottom: 5px;">
        <p class="uo-projects-header-label" style="padding-right: 15px">Created on: {{ projectStartedOn | date }}</p>
        <p class="uo-projects-header-label" style="padding-left: 15px">Release on: {{ projectCompletionEstimate | date }}</p>
    </div>
    <hr>
    <p class="uo-projects-header-label" style="background-color: #f2f2f2">{{ daysLeftForCompletion }} days left</p>
    <hr>
</div>