<div class="proj-mgt-header" fxFlex.gt-sm="900px" fxLayoutAlign="space-around center">
    <span fxLayout="row" fxLayoutGap="5px" (click)="onClickMethod()">
      <mat-icon>history</mat-icon>
      <span>versions</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>local_offer</mat-icon>
      <span>releases</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>people</mat-icon>
      <span>contributors</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>visibility</mat-icon>
      <span>tutors/reviewers</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>save_alt</mat-icon>
      <span>download</span>
    </span>
</div>