<div class="uo-main-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

        <h1 class="example-app-name">Umss Online</h1>

        <span class="uo-component-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
            <button mat-menu-item routerLink="/login">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="uo-sidenav-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="sidenav.opened" style="width: 200px">
            <img src="assets/images/uologov1.jpg" width="180">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/search" style="cursor: pointer" [disabled]="selectedProject == undefined">
              <mat-icon>search</mat-icon>
              <span>Search</span>
          </button>
            <!-- <mat-divider></mat-divider> -->
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/project" style="cursor: pointer" [disabled]="selectedProject == undefined">
              <mat-icon>directions_boat</mat-icon>
              <span>Active Sprint</span>
          </button>
            <!-- <mat-divider></mat-divider> -->
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidad" style="cursor: pointer" [disabled]="selectedProject == undefined">
              <mat-icon>library_books</mat-icon>
              <span>Sprints</span>
          </button>
            <!-- <mat-divider></mat-divider> -->
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/medico" style="cursor: pointer" [disabled]="selectedProject == undefined">
              <mat-icon>bug_report</mat-icon>
              <span>Issues</span>
          </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examen" style="cursor: pointer" [disabled]="selectedProject == undefined">
              <mat-icon>assignment</mat-icon>
              <span>Documents</span>
          </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/paciente" style="cursor: pointer" [disabled]="selectedProject == undefined">
              <mat-icon>supervisor_account</mat-icon>
              <span>Participants</span>
          </button>
            <!-- <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer" [disabled]="!selectedProject">
              <mat-icon>assessment</mat-icon>
              <span>Reportes</span>
          </button> -->
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- <app-uo-docs-header></app-uo-docs-header>
            <app-uo-docs-toolbar></app-uo-docs-toolbar> -->
            <!-- <app-uo-info-card [isChangesInformation]="false"></app-uo-info-card> -->
            <!-- <app-uo-docs-notes></app-uo-docs-notes> -->
            <!-- <span fxLayout="row"><hr fxFlex/>today, 2 minutos ago<hr fxFlex/></span> -->
            <!-- <app-uo-project-header></app-uo-project-header>
            <app-uo-project-progress></app-uo-project-progress> -->
            <!-- <app-uo-progress-item></app-uo-progress-item> -->
            <!-- <app-uo-project-create-modal></app-uo-project-create-modal> -->
            <!-- <app-uo-project-welcome></app-uo-project-welcome> -->
            <!-- <app-uo-us-create-modal></app-uo-us-create-modal> -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>