<div class="uo-main-container">
    <app-uo-header (sidenavToggle)="sidenav.toggle()"></app-uo-header>

    <mat-sidenav-container class="uo-sidenav-container">
        <mat-sidenav #sidenav role="navigation" mode="side" opened="true" style="width: 200px">
            <img src="assets/images/uologov1.jpg" width="180">
            <mat-divider></mat-divider>

            <app-uo-sidenav></app-uo-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-uo-doc-versions></app-uo-doc-versions>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>