<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" matInput placeholder="Enter your name(s)" ngModel name="name" required #nameInput="ngModel">
            <mat-error *ngIf="nameInput.hasError('required')">Name must not be empty.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Enter your last name(s)" ngModel name="lastName" required #lastNameInput="ngModel">
            <mat-error *ngIf="lastNameInput.hasError('required')">Last Name must not be empty.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="email" matInput placeholder="Enter your email" ngModel name="account" email required #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">E-mail must not be empty.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input type="password" matInput placeholder="Enter your password" ngModel name="password" required minlength="6" #pwInput="ngModel">
            <!-- <mat-hint>Should be at least 6 characters long.</mat-hint> -->
            <!-- Or just add as property label -->
            <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
            <mat-error>Has to be at least 6 characters long</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isEditMode">
            <input type="text" matInput placeholder="Enter your nick name" ngModel name="nickName" #nickNameInput="ngModel">
        </mat-form-field>

        <mat-form-field *ngIf="isEditMode">
            <input matInput [matDatepicker]="picker" placeholder="Your bithdate" [max]="maxDate" ngModel name="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Roles" [formControl]="userRolesFormControl" multiple>
                <mat-option *ngFor="let role of userRoles | roleKeys" [value]="role">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox labelPosition="before" ngModel name="agree" required color="primary">Agree to terms and Conditions</mat-checkbox>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
</section>