<app-uo-docs-header></app-uo-docs-header>
<app-uo-docs-toolbar></app-uo-docs-toolbar>
<div *ngIf="documentId" fxLayout="row" fxLayoutGap="30px">
    <iframe width="75%" height="600" [src]="documentId | dmsFile" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div style="width: 20%" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
        <button mat-stroked-button (click)="addNewNote()">Add new note...<mat-icon>note_add</mat-icon></button>
        <app-uo-docs-notes *ngFor="let pComment of projectCommentsList"></app-uo-docs-notes>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!documentId">
    <div class="uo-documents-message-container" fxLayout="column" fxLayoutAlign="center center">
        <p class="uo-documents-main-message">No documents attached for this project</p>
        <p class="uo-documents-secondary-message">Attach a file</p>
    </div>

    <div class="uo-documents-attachment-container">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
            <div *ngIf="currentFileUpload" style="width: 100%;">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%
                </div>
            </div>

            <label class="btn">
              <input type="file" (change)="selectFile($event)">
            </label>

            <!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
            <button mat-raised-button color="accent" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
        </div>
    </div>
</div>