<div class="proj-mgt-header" fxLayoutAlign="space-around center">
    <span fxLayout="row" fxLayoutGap="5px" (click)="onClickMethod()">
      <mat-icon>history</mat-icon>
      <span>{{amountOfVersions}} versions</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>local_offer</mat-icon>
      <span>2 releases</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>people</mat-icon>
      <span>0 contributors</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>visibility</mat-icon>
      <span>3 tutors/reviewers</span>
    </span>
    <span fxLayout="row" fxLayoutGap="5px">
      <mat-icon>save_alt</mat-icon>
      <span>download</span>
    </span>
</div>